h1 {
    font-size: 2rem;
    margin: 2rem 0;
}

h2 {
    font-size: 1.8rem;
    margin: 2rem 0;
}

fieldset {
    font-size: 1.2rem;
    margin: 2rem 0;
}

legend {
    font-size: 1.5rem;
}

.extra {
    display: list-item;
    font-size: 1.4rem;
    list-style-position: inside;
}