.formListing input[type="number"],
.formListing input[type="text"],
.formListing textarea {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.formListing .rap-side {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1;
}

.formListing .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-bottom: 1.5rem;
    align-items: flex-start;
}

.formListing .ctrl-warper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.formListing .ctrl-warper input[type="number"] {
    width: 5rem;
}

.ul-msg,
.msg-err,
.msg-prog {
    border-left: thick solid rgba(154, 154, 158, 0.61);
    padding-left: 11px;
    margin: 6px 0;
    /* list-style: inside; */
}

.msg-err {
    border-left: thick solid red;
}

.msg-prog {
    border-left: thick solid green;
}

.ul-msg li img {
    width: 25%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* v1 */
/* .sel-Files {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    height: 9rem;
    position: relative;
}

.sel-Files img {
    width: 25%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.sel-Files span {
    position: absolute;
    top: -14px;
    left: 0px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 2px;
    background-color: #fff;
    box-shadow: 0px 5px 10px -8px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
} */


/* v2 */


.sel-Files {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    height: 9.1rem;
    background-color: #FFF;
    margin-bottom: 0.3rem;
    margin: 11px 7px 7px 0;
    box-shadow: 0px 5px 10px -8px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    /* border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24); */
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.sel-Files img {
    width: 42%;

}

.sel-Files svg {
    margin: 2rem;
}

.sel-Files span {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;

}

/* .landscapeCard {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    height: 9.1rem;
    background-color: #FFF;
    margin-bottom: 0.3rem;
    margin: 11px 7px 7px 0;
    box-shadow: 0px 5px 10px -8px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.landscapeCard .lc-leftSide {
    width: 42%;
    position: relative;
    height: 100%;
    display: inline-block;   
}

.landscapeCard .lc-leftSide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.landscapeCard .lc-leftSide span {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.landscapeCard .lc-rightSide {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    height: 100%;
    padding: 0.5rem;
    gap: 4px;
}

.landscapeCard .lc-header {
    flex-shrink: 0;
    color: gray;
}

.landscapeCard .lc-body {
    flex-grow: 1; */
    /* Allow to grow and take remaining space */
    /* text-align: center;
    vertical-align: middle;
    display: contents;
}

.landscapeCard .lc-crl {
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
} */