/* .list-triangle{
    position: relative;
    margin: 1.5em;
}

.list-triangle li::before{        
    content: '\▷ ';
    position: absolute;
    left: -1.5em;
} */
.ul-msg, .msg-err, .msg-prog {
    border-left: thick solid;
    padding-left: 11px;
    margin: 6px 0;
}
.msg-err {
    border-left: thick solid red;
}
.msg-prog {
    border-left: thick solid green;
}