
#ulProfile {
    line-height: 2em;
    list-style-type: disc;
    list-style-position: inside;
}

#ulProfile>li>span {
    cursor: pointer;
    /* display: inline;     */
}
.li-rtl{
    direction: rtl;
}
.li-rtl:hover{
    color: red;
}